# Скомпилированный бинарник приложения
/bin/
app

# ========================
# ДАННЫЕ (самое важное!)
# ========================
# Файлы пользователей — не должны быть в репо
/data/

.env

# ========================
# IDE
# ========================
.idea/s
.vscode/

# ========================
# OS файлы
# ========================
.DS_Store
Thumbs.db

